.campaigncard-wrapper {
  border-radius: 4px;
  border: 0.2px solid #eaeaea;
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campaignCard-top-container {
  border-radius: 4px;
  border: 0.2px solid #eaeaea;
  width: 160px;
  height: 250px;
  margin: 3px;
  display: flex;
  flex-direction: column;
}

.campaignCard-top-dtg-wrapper {
  display: flex;
  justify-content: flex-end;
}

.campaignCard-top-dtg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 0px 2px;
  background: rgba(255, 255, 255, 0.4);
  display: inline-flex;
  padding: 2px 4px;
  align-items: flex-start;
  gap: 10px;
}
