.nudgecard-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    #242424 57.56%,
    rgba(29, 29, 29, 0) 123.69%
  );
  width: 296px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}
.nudgeCard-content-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nudgeCard-content-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nudgeCard-icon-container {
  width: 47px;
  height: 47.648px;
}

.nudgeCard-text-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nudgeCard-button-container {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  align-items: center;
}

.nudgeCard-sub-content {
  display: flex;
  justify-content: start;
  gap: 8px;
  align-items: center;
}

.nudgeCard-p1 {
  color: var(--base-white, #f5f5f5);
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.57;
  margin: 0;
}

.nudgeCard-p2 {
  color: var(--error, #ea425e);
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.57;
  line-height: 120%;
  margin: 0;
}

.nudgeCard-main-content {
  color: var(--base-white, #f5f5f5);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  gap: 8px;
  margin: 0;
}
